<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Result Management System</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/index.css" type="text/css">
</head>

<body>
    <div class="container-fluid pl-0 pr-0">
        <nav class="navbar navbar-expand-lg" style="background-color: bisque;">
            <div class="container-fluid d-flex justify-content-sm-center">
                <h1>Result Management System</h1>
            </div>
        </nav>

        <div class="cnt d-flex justify-content-center align-items-center flex-column" style="height: 70vh;">
            <h5>Login As</h5>
            <div class="d-flex">
                <a href="teacher/login" class="btn btn-primary m-2" onclick="signIn(0)">Teacher</a>
                <a href="student/login" class="btn btn-primary m-2" onclick="signIn(1)">Student</a>
            </div>
        </div>
    </div>
</body>

</html>